body {
  margin: 0;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.speech {
  background: #FFFFFF;
  border: 0.1rem solid #000000;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  color: #000000;
  position: absolute;
  top: 50%;
} */